@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #38a04f;
}
.secondary-color {
  color: #525252;
}
.blue-color {
  color: #4366ac;
}
.dark-blue-color {
  color: #30487a;
}
.dark-green-color {
  color: #194824;
}
.blue-color-price {
  color: #6582bb;
}

.section-header {
  color: #121212;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondary-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.common-card {
  width: 272px;
  height: 325px;
  padding: 14px;
  background: #fff;
  gap: 20px;
  margin-top: 30px;
}

.common-card:hover {
  box-shadow: 6px 6px 40px 0px rgba(56, 160, 79, 0.1);
  border-bottom: 2px solid #38a04f;
}

.category-header {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .section-header {
    font-size: 18px;
  }
  .secondary-header {
    font-size: 14px;
  }
  .common-card {
    width: 133px;
    padding: 12px;
    height: 216px;
    gap: 12px;
  }
}
